!!!5
html
  head
    title #{title} - CIS 550
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .wrapper
      .header
        h1 Pennterest
      ul.nav
        li
          a(href="#") Blah 1
        li
          a(href="#") Blah 2
      .main
      .side
        img(src="http://bdsglobaldigest.files.wordpress.com/2012/01/upenn3.jpg", width="900px", height="600px") 
      .footer
        p &copy; PennterestSVAN 2013, All rights reserved 
        